<div class="container">
  <h1>New game</h1>
  <div class="container d-flex">
  <% @letters.each do |letter| %>
    <div class="card flex-grow-1 justify-content-center align-items-center" style="width: 30px; height: 40px;">
      <%= letter %>
    </div>
  <% end %>
  </div>

  <div class="container">
  <form action="/score" method="post" data-turbo="false" class="d-flex mt-3">
    <input type="text" class="form-control" placeholder="type the word" name="word">
    <input type="submit" class="btn btn-success">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :grid, @letters %>
  </form>
  </div>
</div>
